pkgbase = jreen
	pkgdesc = Free and Opensource Jabber library, written in C++ using cross-platform framework Qt.
	pkgver = 1.2.0
	pkgrel = 1
	url = http://qutim.org/jreen
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = cmake
	depends = libidn
	depends = qca-ossl
	depends = zlib
	depends = gsasl
	provides = jreen
	conflicts = jreen-git
	source = jreen-1.2.0.zip::http://github.com/euroelessar/jreen/archive/v1.2.0.zip
	source = jreenMacros.cmake.patch
	sha256sums = e0f2e08309fa794aafe127508a59d255f4ecbe2f75ba53f2edc53e8cd179cb61
	sha256sums = 52f719c34820747b577f2684fe4fa563b68df476b4b2e3d67886d3e74c4bf6db

pkgname = jreen

