pkgbase = jreen
	pkgdesc = Free and Opensource Jabber library, written in C++ using cross-platform framework Qt.
	pkgver = 1.1.1
	pkgrel = 1
	url = http://qutim.org/jreen
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = cmake
	depends = libidn
	depends = qca-ossl
	depends = zlib
	provides = jreen
	conflicts = jreen-git
	source = http://qutim.org/dwnl/44/libjreen-1.1.1.tar.bz2
	sha256sums = 607e3521b7fe8de54e7763e958efe05c5491f50f70a7d0811bdb8dea3515b5e2

pkgname = jreen

